.platform {
  height: 100vh;
  width: eval(100vw-40px);

  display: flex;
  align-items: center;

  padding: 0 20px;
}

.image {
  width: 200px;
}

.inverted {
  transform: scale(-1);
}

.progress {
  width: 200px;
}
